---
layout: default
---

<style>
  header {
    display: flex;
    justify-content: space-between;
  }
  header a {
    width: 1.6em;
    height: 1.6em;
    align-self: center;
  }
</style>

<!-- 오른쪽 프로필 이미지 -> about 페이지로 연결됨 -->
<header>
  <h1>{{ site.title | escape }}</h1>
  <a href="/about/"><img src="/assets/logo.png" alt="profile-image" /></a>
</header>

<main>
  {{ content }}

  <hr />
  <!-- Featured -->
  <!-- <h2>{{page.list_title | default: "Featured"}}</h2>
  <ul class="more-space">
    {% for post in site.posts %} {% if post.featured == true %}
    <li>
      <a href="{{ post.url | relative_url }}" class="post-link"
        >{{post.title | escape}}</a
      >
    </li>
    {% endif %} {% endfor %}
  </ul> -->

  <!-- About Product -->
  <a href="/product/" class="a-title"
    ><h2>{{page.list_title | default: "Product"}}</h2></a
  >
  <ul class="more-space">
    {% for post in site.posts %} {% if post.type-product == true %}
    <li>
      <a href="{{ post.url | relative_url }}" class="post-link"
        >{{post.title | escape}}</a
      >
    </li>
    {% endif %} {% endfor %}
  </ul>

  <!-- All Posts -->
  {%- if site.posts.size > 0 -%}
  <h2>{{ page.list_title | default: "Posts" }}</h2>
  <ul class="more-space">
    {%- for post in site.posts limit:10 -%}
    <li>
      <a class="post-link" href="{{ post.url | relative_url }}"
        >{{ post.title | escape }}</a
      >
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</main>
